*{
    color: whitesmoke;
}

/* Barra de navegacion */

.navbar{
    
    padding: 2rem;
    background-color: #000022;
    position: fixed;
    z-index: 3;
}


/* Aqui se ajusta Flex de barra de Navegacion */
.navbar-collapse{

align-items: center;
justify-content: space-around
}

.nav-item{
    margin-left: 40px;
}

.redes{
    list-style: none;
}

/* RESPONSIVE */
@media screen and (max-width: 768px){
 
    .navbar-brand{
    display: none; 
 
}
}

/* 
Seccion Principal */
.hero{
    
background-color: #001242;
min-height: 450px;
text-align: center;
}

.principal{
    padding: 3rem;
}

.imagen-perfil{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    z-index: 3;
   

}

/* Sobre mi */
.sobre-mi{
height: 500px;
padding: 10px;

}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;

}
/* Estilos Generales */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    h1 {
        font-size: 2.5rem;
        font-family: 'Quantico', sans-serif;
    }

.seccion-oscura{
color: whitesmoke;
background-color: #000022;
}

.seccion-clara{
    color: whitesmoke;
    background-color: #001242;
}

.seccion-titulo{
font-size: 2rem;
font-family: 'Quantico', sans-serif;
}

.seccion-texto{
    font-size: 1.2rem;
}

/* Experiencia */
.formacion {
    padding: 40px;
}

#formacion{

    margin-bottom: 25px;
    
}

.row .columna {

    height: 250px;
    background-color: #000022;
    border: 4px solid #001242;
}

.imgf {
    margin-top: 2rem;
    width: 200px;
 }
 
 .imgg, .imgo {
    width: 300px;
 }

 .columna{
    align-items: center;
    border-radius: 5%;
    background-color: #000022;
  }
  .columna:hover {
    transform: rotateZ(-2deg);
  }

 @media screen and (min-width: 768px){
 
    .imgg, imgo{
        width: 200px;

    }
   
  
}

.formacion #formacion{
font-size: 25px;
font-weight: bold;
margin: 10px 0;
}

@media screen and (min-width: 300px){
 
    .imgg{
        width: 250px;
        
    }
    .imgo{
        width: 250px;
        margin-top: 1rem;
        
    }   
}

.bubbles {
  
    position: relative;
    display: flex;
    align-content: space-between;
  }
  
  .bubbles span {
   
    position: relative;
    min-width: 20px;
    width: 20px;
    height: 20px;
    background: #0b149b;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #0d1474, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
  }
  
  .bubbles span:nth-child(even) {
    background: #2ba9d3;
    box-shadow: 0 0 0 10px #59abc7, 0 0 50px #f3f0f1, 0 0 100px #f3f3f3;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(100vh) scale(0);
    }
    100% {
      transform: translateY(-10vh) scale(1);
    }
  }
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
  }
  
  .badge {
   margin-left: .4rem;
  
  }
  .badge-generation{
    margin-top: .1rem;
  }

  .bg{
  background-color:  #0b149b;

  }
#generation-encabezado{
    margin-top: 3rem;
}
/* Proyectos */

.proyectos-recientes {
    padding: 40px;
  }
  
  .proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
  }
  
  .proyectos-contenedor {
    padding-top: 10px;
    margin-bottom: 40px;
  }
  
  .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .proyecto {
    position: relative;
  }
  
  .proyecto:hover img {
    opacity: 0.2;
  }
  
  .proyecto:hover .overlay {
    opacity: 1;
  }
  
  .overlay .iconos-contenedor {
    display: flex;
  }
  
  .overlay i {
    color: white;
    font-size: 60px;
    margin: 10px;
  }

  
  .btn-primary{
    background-color: #001242 !important;
  }

 